body{
    direction: rtl;
    background-image: url("../Pics/space.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: initial;
}
@font-face {
    font-family: 'Vazir';
    src: url('../font/Vazir-Regular.ttf');
}
.form{
    width:520px;
    height: 450px;
    background-color:rgb(0, 0, 0,0.6);
    margin:auto;
    border:none;
    border-radius:5px;
    color:white;
    
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.form .input input{
    width:380px;
    height: 40px;
   border: 2px solid black;
    border-radius: 5px;
    
}
.form .input input[type="submit"]{
    width:390px;
    height: 45px;
    color: white;
    background-color:rgb(53, 170, 53);
    padding-right:0;
}
p a{
    text-decoration: none;
    color: rgb(0, 115, 248);
}
.font{
    font-family: Vazir;
    font-size:20px;
    
}
.login-box{
    position:absolute;
    margin: auto;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%); 
}
#user,#pass1,#pass2{
    font-size:15px;
    right:0;
  
    margin-top:0;
    color:red;
    visibility: hidden;
}

.inputWithIcon{
    position: relative;
    padding-top: 12px;
}
.inputWithIcon label{
    position:absolute;
    top: 0;
    right: 10px;
    margin-top:0;
    color:red;
    font-size:13px;
    background-color: white;
}